.clients__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.client {
  flex-basis: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 32);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--primary-accent-color);
    fill: var(--primary-accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client-logo {
  fill: var(--primary-icon-color);
  transition: fill 250ms var(--timing-function);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--primary-accent-color);
  }
}
