.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer__address {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    display: inline-block;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__contact {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__location {
  color: var(--primary-white);
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address__link {
  color: var(--secondary-white);
  transition: color 250ms var(--timing-function);

  &:focus,
  &:hover {
    color: var(--primary-white);
  }
}

.address__list {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-join {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}
// .footer__join {
//   margin-left: 70px;
// }
.footer__join-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white);

  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__subscribe {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
// .footer__mail {
//   margin-bottom: 20px;

//   @media screen and (min-width: 1200px) {
//     margin-right: 12px;
//     margin-bottom: 0;
//   }
// }
.subscribe__field {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;

  color: var(--primary-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--modal-btn-shadow);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
