.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;

  background-color: var(--primary-white);
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: var(--primary-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);

  &:focus,
  &:hover {
    fill: var(--primary-accent-color);
  }
}
